.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    .formu{
        margin-left: 20px;
        margin-top: 10px;
    }
    .mapa{
       
        grid-column: 2/3;
        grid-row: 1/3;
        background-color: rgb(97, 97, 97);
    }
    
    .mapita{
        padding: 25px;
        display: flex;
        justify-content: center;
       
    }
    
    .consulta{  
       
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .h3d{     
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);
    }
    .backcontacto{
        border: 2px solid black;
        border-radius: 10px;
        margin: 10px;
        
    }
}
