.galeriaImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    div{
        img{
            width: 300px;
            height: auto;
        }
    }
    
}