@media (max-width:1200px) {
    .contacto{
        display: flex;
        flex-direction: column;
    }
    .consulta{
        margin-left: 0;
        background-color: black;
    }

    
}