

.titulo{
    
    color: aliceblue;
    background-color: rgba(97, 97, 97, 0.718);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;

    h3{
   
        font-size: 40px;
        font-weight: 700;
    }
    p{
   
        font-size: 20px;
    }
  
}
@media (max-width:720px) {
    .titulo{
      
        h3{
            font-size: 30px;
        }
        p{
   
            font-size: 15px;
        }
      
    }
   
  
  
    
}

